html {
    scroll-behavior: smooth;
  }
body{
  overflow-x: hidden;
background-color: black;
color: white;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
    #ham{
      height:4vw;
      width:4vw;
      position: relative;
      position: fixed;
      top:2vw;
    }
    #hi{
      background-color: black;
      height:21vw;
      width:11vw;
      position: relative;
      position: fixed;
      top:9vw;
    }
    .h{
      color: black;
      display: block;
      text-align: center;
      padding:0.5vw;
    }
  #title{
    font-size: 3vw;
    margin-left: 5vw;
    font-weight: bold;
    position: relative;
    bottom: 0.75vw;
  }
  .n{color: white; 
  font-size: 1.5vw;
  text-decoration: none;
  padding: 1vw;
  position: relative;
  left: 54vw;
  bottom:7vw;
  
  }
  .n:hover{
    font-size: 2vw;
    text-decoration: underline;
  }
  #home{
    position: relative;
    top:1.5vw;
    }
  #wel{
      font-size: 3vw;
      font-weight:800;
     text-align: center;
      }
  #main{ 
        font-size: 4vw;
        text-align: center;
      }
  #ccc,#cc{
    font-size: 2vw;
    margin-left: 38vw;
  }
  #leet,#linkedin{
    height:2.8vw;
    width:2.8vw;
  }
  #insta{
    height:2.8vw;
    width:4vw;
  }
  #hack{
    height:2.8vw;
    width:3.2vw;
  }
  #git{
    height:3vw;
    width:6vw;
  }
  #git,#leet,#linkedin,#insta,#hack{
    position: relative;
    bottom:1.5vw;
    left:31vw;
    padding:1.5vw;
  }
  #about{
  position: relative;
  top:25vw;
  }
  
  #pic{margin-top: 20vw;
    border-radius: 50%;
    height: 37vw;
    width: 28vw;
    position: relative;
    left:65%;
    bottom:15vw;
  }

  
  #n,#d{
    position: relative;
   bottom:60vw;
   left:5%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  }

  #n{
    margin-top: 10vw;
    font-size: 3vw;}

  #d{
    display: flexbox;
    width:40vw;
    font-size: 2vw;
  }

  .ab{
    display: flexbox;
    width: 100vw;
    position: relative;
    bottom:55vw;
    left:5%;
    font-size: 2vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  #skm,#skk,#pro,#rr{
    font-family: 'Courier New', Courier, monospace;
    font-size: 5vw;
    text-align:center;
    text-decoration: underline;
  }

  .skk{
    height:16vw;
    width:16vw;
    position: relative;
    left:25%;
    bottom:4vw;
  }
  #s2{
    position: relative;
    left:25%;
    bottom:38vw;
  }
  #s3{
    position: relative;
    left:25%;
    bottom:75vw;
  }
  .sk{
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3vw;
    font-weight: bold;
    display: flexbox;
    height:20vw ;
    width:20vw;
  position: relative;
  bottom: 15.3vw;
  left:23%;
  text-align: center;
  }
  #s22{  position: relative;
    left:23%;
    bottom:49vw;
  }
  #s33{
    position: relative;
    left:23%;
    bottom:86vw;
  }

  .fd{ color:white;
    font-size: 1.5vw;
    padding: 0.5vw;
    position:relative;
    left:60%;
    bottom:40vw;
  }
  .fd2{ color:white;
    font-size: 1.5vw;
    padding: 0.5vw;
    position:relative;
    left:60%;
    bottom:76vw;
  }
  .fd3{ color:white;
    font-size: 1.5vw;
    padding: 0.5vw;
    position:relative;
    left:60%;
    bottom:110vw;
  }
   #work{
    position: relative;
    bottom:40vw;
   }
 
.pr{
  background-color: white;
  color: black;
text-align: center;
padding: 0.5vw;
margin: 2vw;
height: 6vw;
width: 30vw;
margin-left: 33vw;
}
.head{
  font-size: 2vw;
  position: relative;
  bottom:2vw;
}
.pr>a{
  position: relative;
  bottom: 2vw;
  font-size:1.5vw;
}
 
#resume{
  position: relative;
  bottom:20vw;
}
  #resume>a{
  color: black;
  background-color: white;
  padding: 1.5vw;
  font-size: 1.6vw;
  border: 3px solid white;
  border-radius: 1.2vw;
  }
 #o{
  position: relative;
  left:28%;
  bottom:0vw;
 }
 #hh{
  position: relative;
  left:40%;  
 }
 
  #aa{
    font-size: 2.5vw;
    text-align: center;
    position: relative;
    bottom:5vw;
  }
 
  #nfrm,#efrm{
    height: 3vw;
    width:30vw;
    border-radius: 1vw;
    padding:3px;
    font-size: 1.5vw;
    margin-left: 10vw;
  }
  #nfrm,#sfrm{
    position: relative;
    left:3%;
  }
  #efrm{
    position: relative;
    bottom: 3.8vw;
    margin-left:50vw;
  }
  #sfrm{
    height: 30px;
    width:67vw;
    border-radius: 10px;
    padding:7px;
    font-size: 1.5vw;
    position: relative;
    bottom: 40px;
    margin-left: 10vw;
  }
  #msg{
    height:15vw;
    width:67vw;
    border-radius: 1vw;
    padding:1vw;
    font-size: 1.5vw;
    position: relative;
    bottom: 3vw;
    margin-left: 13vw;
  }
  #submit{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width:25vw;
    border-radius: 1vw;
    padding:0.8vw;
    font-size: 1.5vw;
    position: relative;
    left:37%;
    bottom:2.5vw;
  }

  #linkf,#leetf,#hackf,#ef{
    height: 20px;
    width: 20px;
  }
  #gitf{
    height:20px;
    width: 30px;
  }
  footer{  background-color: white;}

  footer>div>a{
    color: black;
   display: block;
text-align: center;}

  footer>p{
    color:black;
    text-align: center;
    font-size: 2.5vw;
    font-weight: bold;
    text-decoration: underline;
  }

  .skk,.sk{
    animation-name:infiniteupdown;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
    transition: all 1s;
  }
  @keyframes infiniteupdown {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
  }
  .fd,.fd2,.fd3 {
    background-image: -webkit-linear-gradient(black 50%, white 50%);
    background-size: 100% 50px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: stripes 2s linear infinite;
    animation: stripes 2s linear infinite;
    font-weight: bold;
  }
  
  @-webkit-keyframes stripes {
    100% {
      background-position: 0 -50px;
    }
  }
  
  @keyframes stripes {
    100% {
      background-position: 0 -50px;
    }
  }
